<form class="well" (submit)="addTask($event)">
  <div class="form-group">
    <input type="text" 
           [(ngModel)]="title" 
           name="title" 
           class="form-control" 
           placeholder="Add Task">
  </div>
  <div class="form-group">
    <input type="button" 
           (click)="addTask($event)" 
           value="Add" 
           class="btn btn-primary">
  </div>
</form>

<div class="task-list">
  <div class="row">
    <div *ngFor="let task of tasks">
      <div class="col-sm-1">
        <input type="checkbox" 
               [checked]="task.isDone"
               (click)="updateStatus(task)">
      </div>
      <div class="col-sm-7">
        {{task.title}}
      </div>
      <div class="col-sm-4">
        <input type="button" 
               (click)="deleteTask(task._id);" 
               value="Delete" 
               class="btn btn-danger">
      </div>
    </div>
  </div>
</div>